* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    color: white;
    text-transform: uppercase;

}
.cont {
    max-width: 400px;
    height: 100%;
    margin: 0 auto;

}
.actual {
    min-width: 100%;
    background: url("./images/principal.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(2,200px);
    align-items: center;
    padding-top:50% ;    

}
.h1-actual {
    display: block;
    position: relative;
    font-size: 4rem;
    text-align: center;
    justify-items: center;
    align-items: center;
}
.cont-btn {
    height: auto;
    display: grid;
    gap: 20px;
    justify-items: center;

}
.btn-main {
    font-size: 1.3rem;
    margin: 0 auto;
    display: block;
    width: 230px;
    background-color: rgba(0, 0, 0, 0.449);
    border: 2px solid black;
    padding: 15px 30px;
}